/*global changes css*/
.left-side {
    width : 240px;
}
.sidebar {
    width : 240px;
}
.right-side {
    margin-left : 240px;
    padding     : 5px 10px 45px 10px;
    background  : #F3F3F3;
}
@media screen and (min-width : 992px) {
    .left-side {
        top : 51px;
    }
    /*Right side strech mode*/
    .right-side.strech {
        margin-left : 0;
    }
    /* Left side collapse */
    .left-side.collapse-left {
        left : -240px;
    }
}
@media screen and (max-width : 992px) {
    .row-offcanvas-left {
        left : 240px;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left : -240px;
    }
}
body > .header .navbar .sidebar-toggle {
    margin-left : 0;
}
/*Give content full width on xs screens*/

@media screen and (max-width : 992px) {
    .right-side {
        margin-left : 0;
    }
}
.panel {
    border-radius : 3px;
    background    : #fff;
}
.panel-heading {
    border-bottom : 1px solid #efefef;
}
/*content css*/
.content {
    padding : 0 20px;
}
.content-header {
    margin        : -5px -15px 25px -15px;
    padding-left  : 20px;
    padding-right : 25px;
    height        : 97px;
    background    : linear-gradient(154deg, #588db6 0, #b097cf 100%);
}
.content-header .header-data {
    padding : 17px;

}
.content-header h1 {
    margin    : 0;
    color     : #fff;
    font-size : 26px;
}
.content-header p {
    color     : #e2e2e2;
    font-size : 13px;
    margin    : 0 0 8px;
}
.content-header .sparkline-chart {
    padding : 19px 9px 15px 9px;
}
.sparkline-chart .sales-title, .sparkline-chart .server-title {
    font-size : 80%;
    position  : absolute;
    z-index   : 1;
    color     : #e1e1e1;
}
/*stats chart*/

#sales-line-bar {
    left : -5px;
}
#sales-line-bar svg g text tspan {
    fill : #555;
}
#sales-line-bar svg g line {
    stroke : #e2e2e2;
}
.c3 line, .c3 path {
    stroke : #A9A9A9;
}
.c3 svg {
    font-size   : 10px;
    font-family : "Open Sans", sans-serif, verdana;
}
.line-bar-charts .btn-link:hover, .line-bar-charts .btn-link:focus {
    text-decoration : none;
}
.line-bar-charts .btn-default {
    background    : #efefef;
    border-color  : #e2e2e2;
    border-bottom : 0;
}
.line-bar-charts .btn-default:hover {
    color      : #333;
    background : #dcdcdc;
}
@media screen and (max-width : 500px) {
    #sales-line-bar svg .c3-axis-x g:nth-child(odd) {
        visibility : hidden;
    }
}
/*weather*/
.weather-widget {
    background-image : url("../../img/weather.jpg");
    height           : 355px;
    color            : #fff;
}
.weather-data .temperature {
    padding-top  : 29px;
    padding-left : 10%;
}
.weather-data .temperature h2 {
    font-size : 60px;
}
.weather-data .temperature .icon {
    position  : absolute;
    right     : 14%;
    font-size : 72px;
    top       : 40px;
    z-index   : 0;
}
.weather-data .temperature .location {
    font-size : 14px;
}
.weather-footer {
    background : rgba(0, 0, 0, 0.4);
    height     : 100px;
    margin-top : 71px;
}
.weather-footer h5 {
    color : #B3B3B3;
}
.weather-footer i {
    font-size : 16px;
    margin    : 5px 0 8px 0;
}
.weather-footer p {
    font-size : 15px;
}
.weather-footer .popup {
    -webkit-transition : .1s ease-in-out;
    -moz-transition    : .1s ease-in-out;
    -o-transition      : .1s ease-in-out;
    transition         : .1s ease-in-out;
}
.weather-footer .popup:hover {
    cursor            : pointer;
    -webkit-transform : scale(1.1);
    -moz-transform    : scale(1.1);
    -o-transform      : scale(1.1);
    -ms-transform     : scale(1.1);
    transform         : scale(1.1);
}
@media screen and (max-width : 370px) {
    .weather-footer .popup {
        padding-left : 9px;
    }
}
/*real-time char*/

.progress {
    border-radius : 2px;
}
.real-time .progress {
    height : 7px;
}
.total-visits {
    padding : 0 5%;
}
.visit-source .visit-count {
    width   : 50%;
    padding : 0 5%;
}
.visitors-os {
    width : 33.33%;
}
/*real-time char ends*/

/*browser interest*/

.basic-list img {
    height       : 24px;
    margin-right : 12px;
}
.basic-list {
    padding       : 0 17px;
    margin-bottom : 0;
}
.basic-list li {
    display       : block;
    position      : relative;
    border-bottom : 1px solid rgba(0, 0, 0, 0.06);
    padding       : 11px 0;
}
.basic-list li:last-child {
    border-bottom : 0;
}
.basic-list li:last-child img {
    margin : 0 16px 0 7px;
}
.basic-list .right {
    display     : inline-block;
    padding     : 3px 6px;
    font-weight : 600;
    margin-top  : 4px;
}
/*browser interest ends*/

/*activity*/
.auto-update {
    height     : 275px !important;
    padding    : 5px 10px;
    background : #f8f8f8;
}
.auto-update > li {
    border-bottom : 1px dotted #ccc;
    height        : 105px;
}
@media (max-width : 363px) {
    .auto-update > li {
        height : 125px;
    }
    .activity .activity-content {
        padding-left : 4px;
    }
}
@media (min-width : 1200px) and (max-width : 1248px) {
    .auto-update > li {
        height : 125px;
    }
}
.auto-update .media-image {
    width  : 40px;
    height : 40px;
}
.activity .activity-image {
    width       : 20%;
    padding-top : 10px;
}
.activity .activity-content {
    width : 80%;
}
.activity-content .text-muted {
    margin-bottom : 6px;
    color         : #ABABAB;
}
.activity-content .heading {
    margin-bottom : 0;
    font-weight   : bold;
}
/*server load*/
.load-measure {
    display : block;
    float   : left;
    width   : 50%;
    padding : 4px 15px;
}
@media screen and (max-width : 425px) {
    .load-measure {
        width : 100%;
    }
}
#cpu-load, #space-used {
    width         : 140px;
    padding-left  : 0;
    padding-right : 0;
    margin-left   : auto;
    margin-right  : auto;
    display       : block;
}
/*tasks to do*/

.tasks_list .slimScrollDiv {
    padding-left : 9px;
}
.checkbox .striked {
    left : 17px;
}
.todotext {
    margin : 10px 0 0 20px;
}
.todolist_list {
    border-bottom : 1px solid #efefef;
    display       : inline-block;
    width         : 100%;
}
.todolist_list:last-child {
    border-bottom : 0;
}
.todolist_list {
    min-height : 42px;
}
.todolist_list .showbtns {
    opacity : 0;
}
.todolist_list:hover .showbtns {
    opacity : 1;
}
#todoedit {
    color         : #418bca;
    padding-right : 3px;
}
.todoedit,
.todoedit:hover {
    color           : #418bca !important;
    text-decoration : none;
}
#tododelete {
    color        : #F00;
    padding-left : 3px;
}
.tododelete,
.tododelete:hover {
    color           : #F00 !important;
    text-decoration : none;
}
.todolist_list > form {
    background  : #fff;
    margin      : 0;
    padding-top : 3px;
}
.strikethrough {
    text-decoration : line-through;
    color           : #ca0002;
}
.todoitemcheck {
    float        : left;
    margin-left  : 5px;
    margin-right : 8px;
}
.btn.save_todo {
    display : none;
}
.editinglist {
    background-color : #efefef;
}
.custom_textbox1, .todoitembtns {
    min-height : 44px;
    padding    : 0 0 10px 15px;
}
.todoitembtns {
    padding : 11px;
}
.todolist_list #custom_textbox, .todolist_list .add_button {
    border-radius : 3px;
}
.todolist_list .save_todo {
    border-radius : 3px;
    padding       : 6px 20px;
}
@media screen and (max-width : 379px) {
    .add_button, .save_todo {
        margin-left : 17px;
    }
}
.add_new .form-group {
    width : 68%;
}
.add_new .form-group #custom_textbox {
    width       : 90%;
    margin-left : 17px;
}
/*tasks ends*/

/*social popup*/

.social_popup_icons {
    background-color        : rgba(0, 0, 0, 0.09);
    border-top-left-radius  : 15px;
    border-top-right-radius : 15px;
    max-height              : 70px;
    position                : fixed;
    bottom                  : 0;
    padding-left            : 30px
}
.social_popup_icons .social-icons div {
    float      : left;
    width      : 16%;
    text-align : center;
}
.social_popup_icons .google {
    color : #D54B3D;
}
.social_popup_icons .facebook {
    color : #3C5A98;
}
.social_popup_icons .twitter {
    color : #1B9AE7;
}
.social_popup_icons .linkedin {
    color : #0077B5;
}
.social_popup_icons .youtube {
    color : #E32C28;
}
.social_popup_icons .dribbble {
    color : #EA4C89;
}
.anim_add {
    transition         : all .5s linear;
    -o-transition      : all .5s linear;
    -moz-transition    : all .5s linear;
    -webkit-transition : all .5s linear;
}
.social_popup_icons .social-icons i {
    font-size          : 30px;
    padding-top        : 10px;
    padding-bottom     : 10px;
    padding-left       : 5%;
    padding-right      : 4%;
    transition         : all .1s linear;
    -o-transition      : all .1s linear;
    -moz-transition    : all .1s linear;
    -webkit-transition : all .1s linear;
}
.social_popup_icons .social-icons div i:hover {
    font-size          : 50px;
    padding-top        : 0;
    margin-top         : -10px;
    transition         : all .1s linear;
    -o-transition      : all .1s linear;
    -moz-transition    : all .1s linear;
    -webkit-transition : all .1s linear;
}
