.grid-stack-item-content {
    background: url('../../img/brick-wall.png');
    color: #2c3e50;
    text-align: center;
    font-size: 20px;
}
.grid-stack-item-content .fa {
    font-size: 64px;
    display: block;
    margin: 20px 0 10px 0;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content{
    cursor:move;
}