@media only screen and (max-width : 767px) {
    .files img,
    .files canvas {
        max-width : none;
    }
    .table-responsive {
        border : none;
    }
}
.table-responsive > .table > tbody > tr > td {
    white-space : normal;
}
.table-responsive {
    overflow-x : visible;
}
