/*==================================================================
	Switches
===================================================================*/
.admin-form .switch > label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.admin-form .switch {
	font-size: 13px;
}
.admin-form .switch > input[disabled] + label {
	cursor: default;
	opacity: 0.5;
}
.switch {
	cursor: pointer;
	position: relative;
	padding-right: 5px;
	display: inline-block;
	margin-bottom: 5px;
	height: 26px;
}
.switch > label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	height: 25px;
	width: 58px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	background: #D7D7D7;
	border: 2px solid #D7D7D7;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.switch > label + span {
	display: inline-block;
	padding-left: 5px;
	position: relative;
	top: -12px;
}
.switch > label:before {
	content: attr(data-off);
	position: absolute;
	top: 1px;
	right: 3px;
	width: 33px;
}
.switch > label:after {
	content: "";
	margin: 1px;
	width: 19px;
	height: 19px;
	display: block;
	background: #fff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.switch > input {
	-webkit-appearance: none;
	position: absolute;
	width: inherit;
	height: inherit;
	opacity: 0;
	left: 0;
	top: 0;
}
/*==================================================================
	Switch:focus state
-===================================================================*/
.switch > input:focus {
	outline: none;
}
.switch > input:focus + label {
	color: #fff;
	border-color: #C7C7C7;
	background: #C7C7C7;
}
.switch > input:focus + label:after {
	background: #fff;
}
/*==================================================================
	Switch:checked state
===================================================================*/
.switch > input:checked + label {
	border-color: #999;
	background: #999;
	padding-left: 33px;
	color: white;
}
.switch > input:checked + label:before {
	content: attr(data-on);
	left: 1px;
	top: 1px;
}
.switch > input:checked + label:after {
	margin: 1px;
	width: 19px;
	height: 19px;
	background: white;
}
/*==================================================================
	Switch:checked:focus state
-===================================================================*/
.switch > input:checked:focus + label {
	background: #555;
	border-color: #555;
}
/* Round Style*/
.switch-round > label {
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}
.switch-round > label + span {
	top: -2px;
}
.switch-round > label:before {
	width: 33px;
}
.switch-round > label:after {
	width: 19px;
	color: #D7D7D7;
	content: "\2022";
	font: 20px/20px Times, Serif;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}
.switch-round > input:checked + label {
	padding-left: 33px;
}
.switch-round > input:checked + label:after {
	color: #999;
}
/*==================================================================
	Switch - Custom Success/Danger Styled
-===================================================================*/
.switch-custom > label {
	background: #999;
	border-color: #999;
}
.switch-custom > input:hover + label,
.switch-custom > input:focus + label {
	background: #555;
	border-color: #555;
}
/* Checked state */
.switch-custom > input:checked + label {
	background: #00c3bc;
	border-color: #00c3bc;
}
.switch-custom > input:checked:hover + label,
.switch-custom > input:checked:focus + label {
	background: #00c7be;
	border-color: #00c7be;
}
/*==================================================================
	Switches
===================================================================*/