/* Fonts Imported from Google */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

body {
    padding: 75px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background: none;
}

.login-content {
    background: rgba(255, 255, 255, .2);
    border-radius: 4px;
    padding: 20px 15px 0 15px;
}
.core-login{
    background: #fff;
    padding: 15px 50px;
}
.row-bg-color{
    background: #eee;
}

.header h2 {
    margin-top: 0;
    margin-bottom: 22px;
    color: #fff;
}

label{
    font-weight: 400;
}

.input-group {
    width: 100%;
}

.form-group .form-control {
    background: #f5f5f5;
    width: 100%;
    border-radius: 2px !important;
    margin-top: 5px;
}

.checkbox label{
    padding: 0;
}
#forgot:hover, a:focus {
    color: #2a6496 ;
}

@media screen and (max-width: 385px) {
    .forgot1 {
        float: left !important;
    }
}
.login-btn{
    margin-top: 5px;
    border-radius: 2px;
}

/*social authentication*/
.social-buttons{
    padding: 55px 0 30px 0;
}
@media screen and (max-width: 992px) {
    .social-buttons{
        padding: 30px 0 30px 0;
    }
}

a:hover, a:focus {
     text-decoration: none;
}
.btn-social {
    position: relative;
    padding-left: 50px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 85%;
    margin: 15px auto;
}
.btn-facebook {
    color: #fff;
    background-color: #3B5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter{
    color: #fff;
    background-color: #1DA1F2;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active {
    color: #fff;
    background-color: #2887B5;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active {
    color: #fff;
    background-color: #E46657;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
    color: #fff;
    background-color: #5F7AB3;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active {
    color: #fff;
    background-color: #3BACF2;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-social :first-child {
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}


a.facebook-like:hover * {
    color: #FFF;
}
/*======preloader=====*/
.preloader{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100000;
    backface-visibility: hidden;
    background: #ffffff;
}
.loader_img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;
}