
body {
    padding           : 75px 0;
    background-size   : cover;
    position          : relative;
    z-index           : 0;
    background        : none;
}
.register-content {
    background    : rgba(255, 255, 255, .2);
    border-radius : 4px;
    padding       : 20px 15px 0 15px;
}
.core-register {
    background : #fff;
    padding    : 15px 50px;
}
.row-bg-color {
    background : #eee;
}
.header h2 {
    margin-top    : 0;
    margin-bottom : 22px;
    color         : #fff;
}
.select2-container--default .select2-selection--single {
    border-radius : 0;
    background    : #f5f5f5;
}
.input-group {
    width : 100%;
}
.form-group .form-control:last-child,
.form-group .form-control:first-child {
    background    : #f5f5f5;
    width         : 100%;
    border-radius : 2px;
    margin-top    : 5px;
}
@media screen and (min-width : 768px) {
    .password .input-group {
        width : 95%;
    }
    .confirm_pwd {
        padding-left : 5%;
    }
    .cp-group small {
        padding-left : 5%;
    }
}
/*social authentication*/
.social-buttons {
    padding : 89px 0 30px 0;
}
@media screen and (max-width : 992px) {
    .social-buttons {
        padding : 30px 0 30px 0;
    }
}
.btn {
    -webkit-border-radius : 2px;
    -moz-border-radius    : 2px;
    border-radius         : 2px;
}
.btn-social {
    position      : relative;
    padding-left  : 50px;
    text-align    : left;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
    width         : 85%;
    margin        : 15px auto;
}
.btn-facebook {
    color            : #fff;
    background-color : #3B5998;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-linkedin {
    color            : #fff;
    background-color : #007bb6;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-google-plus {
    color            : #fff;
    background-color : #dd4b39;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-twitter {
    color            : #fff;
    background-color : #1DA1F2;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active {
    color            : #fff;
    background-color : #2887B5;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active {
    color            : #fff;
    background-color : #E46657;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active {
    color            : #fff;
    background-color : #5F7AB3;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active {
    color            : #fff;
    background-color : #3BACF2;
    border-color     : rgba(0, 0, 0, 0.2);
}
.btn-social :first-child {
    position     : absolute;
    left         : 6px;
    top          : 0;
    bottom       : 0;
    width        : 32px;
    line-height  : 34px;
    font-size    : 1.6em;
    text-align   : center;
    border-right : 1px solid rgba(0, 0, 0, 0.2);
}
a.facebook-like:hover * {
    color : #FFF;
}