/***Session Timeout custom css***/
.note.note-success {
	background-color: #eef7ea;
	border-color: #bbdba1;
}
.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
