
.bg-mint-light {
    background-color: #56CCAE;
    color: #fff !important
}

.bg-mint {
    background-color: #37BC9B;
    color: #ebf4e4;
}

.skin-mint .logo {
    background-color: #37BC9B;
    border-right: 1px solid #37BC9B;
}

.skin-mint .logo > h1 {
    margin-top: 0;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #fff;
}

.skin-mint .navbar {
    background-color: #37BC9B;
    /*  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}

.skin-mint .nav_profile {
    background-color: #313e4b;
}

.skin-mint .navbar .nav a {
    color: #555;
}

.skin-mint .navbar .nav > li > a:hover,
.skin-mint .navbar .nav > li > a:active,
.skin-mint .navbar .nav > li > a:focus,
.skin-mint .navbar .nav .open > a,
.skin-mint .navbar .nav .open > a:hover,
.skin-mint .navbar .nav .open > a:focus {
    color: #555;
}

@media screen and (min-width: 550px) {
    .skin-mint .navbar .navbar-right > .nav {
        margin-right: 15px;
    }
}

.skin-mint .navbar .sidebar-toggle .icon-bar {
    background: #fff;
}

.skin-mint .sidebar .page-sidebar-menu > li {
    border-bottom: 1px solid #fff;
}

.skin-mint .sidebar .page-sidebar-menu > li:hover {
    background: #3a4252;
    border-bottom: 1px solid rgba(54, 60, 70, 0.5);
}

.skin-mint .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}

.skin-mint .left-side {
    background: #313e4b;
}

.skin-mint .sidebar a {
    color: #808b9c;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.skin-mint .sidebar li.open a:hover {
    background: #3a4252 !important;
    text-decoration: none !important;
}

.skin-mint .sidebar li.open ul:hover,
.skin-mint .sidebar li.open a ul:hover,
.skin-mint .sidebar li.open ul li:hover,
a,
a:hover {
    text-decoration: none !important;
}
.skin-mint .content-profile .icon-list li a {
    border: 1px solid #2e333b;
}
.skin-mint .icon-list li a:hover {
    background: #56CCAE;
}

.skin-mint .navbar-right .nav>li>a:hover {
    background: #56CCAE;
}

.navbar-right .nav > li > a:hover, .navbar-right .nav > li > a:focus {
    background-color: #56CCAE;
    border-color: #56CCAE;
}

.skin-mint .navbar-right .nav .open > a {
    background-color: #56CCAE;
    border-color: #56CCAE;
}

.skin-mint .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px;
    padding: 6%;
    background: #37BC9B;
    text-align: center;
}

.skin-mint li.dropdown-title {
    padding: 16px;
    background: #56CCAE;
    font-size: 14px;
    color: #fff;
}

.skin-mint li.dropdown-footer {
    padding: 16px;
    background: #56CCAE;
    border-bottom: 1px solid #ccc;
    color: #fff;
}

.skin-mint #right {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    right: -250px;
}

.skin-mint #right .rightsidebar-right-heading {
    background: #56CCAE;
}

.skin-mint .nav_profile .profile-left {
    padding: 15px;
    min-height: 90px;
}

.skin-mint .nav_profile {
    background-color: #313e4b;
}

.skin-mint .nav_profile .profile-left .profile-thumb {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    padding-top: 9px;
}

.skin-mint .profile-left .profile-thumb {
    border: 2px solid #313e4b;
}

.skin-mint .nav_profile .profile-left .media-heading {
    line-height: 23px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.skin-mint .nav_profile .profile-left .profile-thumb img {
    width: 54px;
}
.sidebar-right-opened #right {
    right: 0;
}
.dropdown-menu > .dropdown-footer > a:hover, .dropdown-menu > .dropdown-footer > a:focus {
    background-color: #56CCAE;
}